
node_modules/
*.css
inde.html
the.js

assets/

app.js
project/
Design.html
fetch.html
fetch.js
H.html
*html

!TamrinTailwind.html

module

sass/
new-project

package-lock.json

package.json

fontStyle/
img
